[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
flask = "*"
gunicorn = "*"
tflite-runtime = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
