[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
seaborn = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
ipykernel = "*"
tensorflow = "*"
imageio = "*"
flask = "*"
gunicorn = "*"
tflite-runtime = "*"
sp = "*"
spicy = "*"
setuptools = "*"
flasgger = "==0.9.7b2"

[dev-packages]

[requires]
python_version = "3.11"
