<!DOCTYPE html>
<html>

<head>
  <title>X-rays Classification</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  <h1>X-rays Classification</h1>
  <br>

  <section>
    <h2>About the '/predict' Endpoint</h2>
    <p>
      At the '/predict' endpoint, you can use the API to classify X-rays of the chest.
      This feature allows you to analyze chest X-ray images for various purposes.
      Make sure to check the API documentation for more details on how to use this functionality.
    </p>
  </section>
  <br>
  <br>
  <section>
    <h2>About the '/apidocs' Endpoint</h2>
    <p>
      The '/apidocs' endpoint provides detailed information on how to use the API.
      Whether you are a developer or a user, the API documentation contains essential
      guidance on making requests, understanding responses, and utilizing the available features.
    </p>
    <ul>
      <li><a href="/apidocs">API Docs</a></li>
    </ul>
  </section>
</body>

</html>